body {
  background: #fdfdfd;
  font-family: "Poppins", serif;
  font-style: normal;
  text-align: center;
}
h1 {
  color: black;
  font-size: 80px;
  font-weight: 800;
  line-height: 1.5;
  opacity: 30%;
  text-align: center;
}
h2 {
  font-size: 40px;
  font-weight: normal;
}
.hero {
  background-image: url(../images/text-bubbles3.png);
  background-position-y: -6.3cm;
  border-radius: 1%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  background-size: cover;
  margin: 20px auto;
  padding: 100px;
}
.container {
  margin: 100px auto;
  max-width: 600px;
}
.form-wrapper {
  background-color: #41ace0;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 30px;
}
form {
  display: flex;
}
.hint {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
}
.instructions {
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  width: 80%;
}
.button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: beige;
  font-size: 16px;
  margin-left: 10px;
  padding: 15px;
  width: 100px;
}
.hidden {
  display: none;
}
.script {
  background-color: white;
  border-left: 3px solid #41ace0;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
}
.script strong {
  color: black;
}
footer {
  font-size: 13px;
  margin-top: 30px;
}
a {
  color: #41ace0;
}
.blinking {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 900px) {
    .hero {
        background-position: center;
        padding: 90px;
    }  
    .hero h1 {
        font-size: 25px;
    }
    .hero p {
        font-size: 10px;
    }
    header {
        padding: 60px 0;
    }
    h2 {
        font-size: 30px;
        margin: 0px auto;
        padding: 0px;
    }
    .container {
        max-width: 350px;
    }
    .hint {
        font-size: 10px;
    }
    footer {
        font-size: 10px;
        opacity: 70%;
    }
  }
